body 
{
  background-image: url("../images/bg.jpg");
}

#container {
  width: 80%;
  margin: auto;
  padding-top: 0px;
  border: thin solid black;
}

#top { 
padding-left:25px;
background-color: #1a1a18;
height: 65px;
border: thin solid black;
 
}

#logo
{ float:left;

}
#yellow { background-color: #ffe200;




}

#yellow2 { background-color: #ffe200;

height: 100%;
padding-left: 25%;
padding-right: 25%;
padding-top: 10px;
padding-bottom: 10px;
}

#galeria { 
background-color: #ffe200;


height: 140px;
}

#galeria2 { 
background-color: #000;
padding-left: 10%;
padding-right: 2%;
padding-top: 10px;
padding-bottom: 10px;

height: 45px;
}

#uno { 

float: left;
width: 35%;
margin: auto;

}
#dos { 

float: right;
width: 35%;
margin: auto;

}

#textouno { 

font-weight: bold;
font-size: 1em;
align-content: center;
font-family: arial;
color: #FFF;

text-align: center;
height: 45px;
float: left;
width: 40%;


}
#textodos { 

font-weight: bold;
font-size: 1em;
align-content: center;
font-family: arial;
color: #FFF;

text-align: center;
height: 45px;
float: right;
width: 60%;


}


#verde { background-color: #339900;


width: 95%;
margin: auto;

}

#verde3 { background-color: #339900;

padding-top: 25px;
padding-bottom: 25px;
margin: auto;

}

#imgpie
{ 
width: 80%;
font-weight: bold;
font-size: 1em;
align-content: center;
font-family: arial;
color: #FFF;
margin: auto;
background-color: #339900;

border: thin solid black; }

#slideshow { background-color: #000;


width: 85%;
margin: auto;

}


#negro { background-color: #000;
height: 65px;
border: thin solid black; }


#negro2 { background-color: #000;

height: 100%;
padding-left: 15%;
padding-right: 15%;
padding-top: 10px;
padding-bottom: 10px; }


#textotur
{ 
width: 70%;
font-weight: bold;
font-size: 1.5em;
align-content: center;
text-align: CENTER;
font-family: VERDANA;
color:#339900;
margin: auto;
background-color: #000;
height: 65px;
border: thin solid black; }

#textobot
{ 
text-align: center;
width:100%;
font-weight: bold;
font-size: 0.88em;
align-content: center;
font-family: arial;
color: #000;
margin: auto;

height: 45px;
 }
 
 #logobot
{ 
width:55%;
font-weight: bold;
font-size: 0.88em;
align-content: center;
font-family: arial;
color: #000;
margin: auto;


 }
 
 
 #textobot2
{ 
width:200px;
font-weight: bold;
font-size: 0.88em;
align-content: center;
font-family: arial;
color: #000;
margin: auto;
height: 45px;
 }
 
 #textour5
{ 
width:200px;
font-weight: bold;
font-size: 0.88em;
align-content: center;
font-family: arial;
color: #000;
margin: auto;
height: 45px;
 }
 
 
 @import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }


code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

#footer {
	background-color: #246c;
	background-image: linear-gradient(to bottom, transparent, #0009);
	border-top: 1px solid #fff3;
	box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
	overflow: hidden;
	padding: 8px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9001;
}
#footer a {
	color: #85c6f6;
	padding: 1em 0;
	text-decoration: none;
}
#footer ul {
	display: flex;
	list-style: none;
	justify-content: center;
	font-size: 2em;
	font-weight: 300;
}
#footer ul li {
	padding: 0 .5em;
}

/* Appearance */
.links {
	background-color: #1a1a18;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 0.8em;
	font-family: verdana;
	font-weight: bold;
	text-align: center;
}
.links > a {
	color: #9ab;
	
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #ffcc00;
	text-align: center;
}
.links > .line {
	background: #339933;
	height: 1px;
	pointer-events: none;
}

/* The Magic */

#contheader {
	
	background: #3a3a3a;
	width: 75%;
	align-content: center;
	float: right;
	
}

#header {
	margin-top:25px;
	margin-right: 10px;
	width: 70%;
	align-content: center;
	float: left;
	top: 0;
	left: 0;
	right: 0;
}

#rs {	
	margin-top: 10px;
	margin-right: 10px;
	align-content: center;
	float: right;
	
}



#uno img {

    opacity: 0.9;

     transition: filter 0.3s ease;


}

#uno:hover img {

    filter: brightness(1.2); /* Increase brightness by 20% */

}


#dos img {

    opacity: 0.9;

     transition: filter 0.3s ease;


}

#dos:hover img {

    filter: brightness(1.2); /* Increase brightness by 20% */

}


#imgpie img {

    opacity: 0.9;

     transition: filter 0.3s ease;


}

#imgpie:hover img {

    filter: brightness(1.2); /* Increase brightness by 20% */

}

.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }
